<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MOD</key>
	<array>
		<string>Fenhl</string>
		<string>ericssson</string>
		<string>Jan</string>
		<string>Garou</string>
	</array>
	<key>PASS</key>
	<dict>
		<key>ericssson</key>
		<string>EAOW4enye4C1is2</string>
		<key>Fenhl</key>
		<string>Macca meja_13</string>
		<key>Garou</key>
		<string>JeNeRegretteRien</string>
		<key>Jan</key>
		<string>dn4j6r</string>
		<key>test</key>
		<string>swordfish</string>
	</dict>
</dict>
</plist>
